* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/** Fonts */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Times New Roman', serif; */
/** Fonts */
